{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block section1 %}
	<body>
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="display-4 border rounded-circle mx-5">Nos services</h2>
			</div>
		</div>
        <br>
        <br>
		{# Controle technique #}
		<div class="row">
			<div class="col-md-4 section-repation">
				<div class="d-flex flex-column justify-content-center align-items-start h-100">
					<h2>Faire votre controle technique?</h2>
					<br>
					<ul>
						<li>Économisez du temps en prenant rendez-vous en ligne.</li>
						<li>Bénéficiez d'un service de qualité avec des experts certifiés.</li>
						<li>Profitez de tarifs avantageux pour votre contrôle technique.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<img src="./img/Controle.jpg" alt="Image 2" class="img-section1 img-fluid">
			</div>
		</div>
		{# Reparation #}
		<div class="row">
			<div class="col-md-4 section-repation">
				<div class="d-flex flex-column justify-content-center align-items-start h-100">
					<h2>Faire votre controle technique?</h2>
					<br>
					<ul>
						<li>Économisez du temps en prenant rendez-vous en ligne.</li>
						<li>Bénéficiez d'un service de qualité avec des experts certifiés.</li>
						<li>Profitez de tarifs avantageux pour votre contrôle technique.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<img src="./img/Reparation.jpg" alt="Image 2" class="img-section1 img-fluid">
			</div>
		</div>
		{# Nettoyage #}
		<div class="row">
			<div class="col-md-4 section-repation">
				<div class="d-flex flex-column justify-content-center align-items-start h-100">
					<h2>Faire votre controle technique?</h2>
					<br>
					<ul>
						<li>Économisez du temps en prenant rendez-vous en ligne.</li>
						<li>Bénéficiez d'un service de qualité avec des experts certifiés.</li>
						<li>Profitez de tarifs avantageux pour votre contrôle technique.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<img src="./img/Nettoyage.jpg" alt="Image 2" class="img-section1 img-fluid">
			</div>
		</div>
	</body>
{% endblock %}
