

/* Navbar  */
.nav {
    z-index: 10;
}

.nav-img {
    margin-top: -70px; /* Ajustez la valeur négative selon vos besoins */
}

.image-container {
    position: relative;
}

.image-container img {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
}


/* Section 1 */
.img-section1 {
    width: auto;
    height: auto;
}

.section-repation {
    margin-left: 60%;
    padding: 10px;
}

.img-tem {
    width: 150px;
    height: 150px;
}

/* Contact */

section:last-of-type {
    background: linear-gradient(to bottom, #FFFFFF, #F5EDED);
}

  
/* Animation */

/* Fait un zoom lors de la souris sur l'élément / ou au clic pour mobile */
.zoom-animate {
  transition: transform 0.3s ease;
}
  
.zoom-animate.active {
  transform: scale(1.1);
}

/* --- */

/* Footer  */

footer {
    background: linear-gradient(to bottom, #f5ededcb, #D7D3D3);
    padding: 30px 0;
  }

  
  footer .schedule-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  footer .schedule-table table th,
  footer .schedule-table table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #888888;
  }
  
  footer .schedule-table table th {
    background-color: #F5EDED;
  }
  
  footer .schedule-table table td:first-child {
    padding-right: 20px;
  }
  
  

  